header * {
  color: white;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
}

/*
 * ant design classes
 */

#root, .ant-layout {
  position: relative;
  height: 100%;
}

.ant-layout-content {
  padding-top: 40px;
}

.ant-row {
  margin-bottom: 40px;
}

form .ant-row {
  margin-bottom: 0px;
}

/*
 * custom classes
 */

.form-button {
  margin-top: 20px;
}

.form-field {
  margin-top: 10px;
}

.create-button {
  text-align: right;
}

.send-input {
  border: none;
}

.send-input:focus {
  box-shadow: none;
}

.send-button {
  height: auto;
  padding: 10px 20px;
}

.tr-sent {
  color: #FF5722;
  font-weight: bold;
}

.tr-rcv {
  color: #4CAF50;
  font-weight: bold;
}
