header * {
  color: white;
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
}

#root, .ant-layout {
  position: relative;
  height: 100%;
}

.ant-layout-content {
  margin-top: 40px;
}

.form-field {
  margin-top: 10px;
}

.form-button {
  margin: 20px;
}

.create-button {
  text-align: right;
}
